[workspace]
members = [
    "scale",
    "ggez-renderer"
]

# TODO Do this when Rust 1.41 is released on Jan 30
#[profile.dev.overrides."*"]
#opt-level = 2
#
#[profile.dev]
#opt-level = 0

[profile.dev]
opt-level = 2

[profile.release]
debug = true
#incremental = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
