name: rust-build

on:
  push:
    branches:
      - master
  tags-ignore:
    - v*  # don't run on tags since release does that

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Update things
        run: sudo apt-get update
      - name: install libs
        run: sudo apt-get install libasound2-dev libudev-dev pkg-config
      - name: Install Rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: 'stable'
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
